<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

%config IPCompleter.greedy=True

In [6]:
listings = pd.read_csv('DatosValencia/listings.csv')

listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,48154,Precioso apartamento con wifi,219476,Antonio,LA SAIDIA,MORVEDRE,39.48375,-0.37502,Entire home/apt,92.0,3,161,2024-06-12,0.97,4,81,31,VT-41540-V
1,136378,Old City Charm with Modern Comfort,591197,Elisa,CIUTAT VELLA,EL MERCAT,39.47358,-0.37815,Entire home/apt,75.0,28,25,2023-06-30,0.16,2,0,1,VT-42161-V
2,149715,1900 Style Valencian Beach Home for 10px,5947,Susana Barbara,POBLATS MARITIMS,CABANYAL-CANYAMELAR,39.46746,-0.32813,Entire home/apt,269.0,2,259,2024-06-17,1.65,1,260,38,Nº TURISMO VT36469V CATEGORIA: standard
3,165971,★ Architectural touch! ★,791187,Inés,EXTRAMURS,LA ROQUETA,39.46790,-0.38206,Entire home/apt,132.0,5,517,2024-06-05,3.29,7,16,45,VT-32757-V
4,182221,Apartments Calatrava City Valencia,1315567,Chiara,CAMINS AL GRAU,AIORA,39.46343,-0.34325,Entire home/apt,180.0,3,8,2024-05-04,0.07,2,336,1,VT-38755-V

In [7]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9596 entries, 0 to 9595
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              9596 non-null   int64
 1   name                            9596 non-null   object
 2   host_id                         9596 non-null   int64
 3   host_name                       9596 non-null   object
 4   neighbourhood_group             9596 non-null   object
 5   neighbourhood                   9596 non-null   object
 6   latitude                        9596 non-null   float64
 7   longitude                       9596 non-null   float64
 8   room_type                       9596 non-null   object
 9   price                           9082 non-null   float64
 10  minimum_nights                  9596 non-null   int64
 11  number_of_reviews               9596 non-null   int64
 12  last_review                     7801 non-null   object
 13  reviews_per_month               7801 non-null   float64
 14  calculated_host_listings_count  9596 non-null   int64
 15  availability_365                9596 non-null   int64
 16  number_of_reviews_ltm           9596 non-null   int64
 17  license                         2104 non-null   object
dtypes: float64(4), int64(7), object(7)
memory usage: 1.3+ MB

In [9]:

# listings detailed
listings_det = pd.read_csv("DatosValencia/listings.csv.gz")

In [11]:
listings_det.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,48154,https://www.airbnb.com/rooms/48154,20240622134440,2024-06-22,city scrape,Precioso apartamento con wifi,Second floor on a farm from the late 19th cent...,Very close neighborhood to the city's old town...,https://a0.muscache.com/pictures/1109085/9c0d4...,219476,...,4.78,4.49,4.52,VT-41540-V,f,4,4,0,0,0.97
1,136378,https://www.airbnb.com/rooms/136378,20240622134440,2024-06-23,city scrape,Old City Charm with Modern Comfort,NaN,NaN,https://a0.muscache.com/pictures/pro_photo_too...,591197,...,4.80,4.84,4.56,VT-42161-V,f,2,2,0,0,0.16
2,149715,https://www.airbnb.com/rooms/149715,20240622134440,2024-06-23,city scrape,1900 Style Valencian Beach Home for 10px,Typical town house with 5 bedrooms and 3 and a...,"Surrounded by historic houses, authentic res...",https://a0.muscache.com/pictures/7507244a-87d8...,5947,...,4.89,4.59,4.62,Nº TURISMO VT36469V CATEGORIA: standard,f,1,1,0,0,1.65
3,165971,https://www.airbnb.com/rooms/165971,20240622134440,2024-06-22,city scrape,★ Architectural touch! ★,"Hola! I am ready to welcome you in my apt., wh...",Just outside the old city centre (one block aw...,https://a0.muscache.com/pictures/10878830/ade6...,791187,...,4.87,4.83,4.84,VT-32757-V,t,7,7,0,0,3.29
4,182221,https://www.airbnb.com/rooms/182221,20240622134440,2024-06-23,city scrape,Apartments Calatrava City Valencia,NaN,NaN,https://a0.muscache.com/pictures/1161513/9f7ac...,1315567,...,4.63,4.25,4.38,VT-38755-V,f,2,2,0,0,0.07

In [12]:
listings_det.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9596 entries, 0 to 9595
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            9596 non-null   int64
 1   listing_url                                   9596 non-null   object
 2   scrape_id                                     9596 non-null   int64
 3   last_scraped                                  9596 non-null   object
 4   source                                        9596 non-null   object
 5   name                                          9596 non-null   object
 6   description                                   9302 non-null   object
 7   neighborhood_overview                         4728 non-null   object
 8   picture_url                                   9596 non-null   object
 9   host_id                                       9596 non-null   int64
 10  host_url                                      9596 non-null   object
 11  host_name                                     9596 non-null   object
 12  host_since                                    9596 non-null   object
 13  host_location                                 7049 non-null   object
 14  host_about                                    4725 non-null   object
 15  host_response_time                            9049 non-null   object
 16  host_response_rate                            9049 non-null   object
 17  host_acceptance_rate                          9285 non-null   object
 18  host_is_superhost                             9299 non-null   object
 19  host_thumbnail_url                            9596 non-null   object
 20  host_picture_url                              9596 non-null   object
 21  host_neighbourhood                            2681 non-null   object
 22  host_listings_count                           9596 non-null   int64
 23  host_total_listings_count                     9596 non-null   int64
 24  host_verifications                            9596 non-null   object
 25  host_has_profile_pic                          9596 non-null   object
 26  host_identity_verified                        9596 non-null   object
 27  neighbourhood                                 4728 non-null   object
 28  neighbourhood_cleansed                        9596 non-null   object
 29  neighbourhood_group_cleansed                  9596 non-null   object
 30  latitude                                      9596 non-null   float64
 31  longitude                                     9596 non-null   float64
 32  property_type                                 9596 non-null   object
 33  room_type                                     9596 non-null   object
 34  accommodates                                  9596 non-null   int64
 35  bathrooms                                     9078 non-null   float64
 36  bathrooms_text                                9584 non-null   object
 37  bedrooms                                      9421 non-null   float64
 38  beds                                          9081 non-null   float64
 39  amenities                                     9596 non-null   object
 40  price                                         9082 non-null   object
 41  minimum_nights                                9596 non-null   int64
 42  maximum_nights                                9596 non-null   int64
 43  minimum_minimum_nights                        9596 non-null   int64
 44  maximum_minimum_nights                        9596 non-null   int64
 45  minimum_maximum_nights                        9596 non-null   int64
 46  maximum_maximum_nights                        9596 non-null   int64
 47  minimum_nights_avg_ntm                        9596 non-null   float64
 48  maximum_nights_avg_ntm                        9596 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              9512 non-null   object
 51  availability_30                               9596 non-null   int64
 52  availability_60                               9596 non-null   int64
 53  availability_90                               9596 non-null   int64
 54  availability_365                              9596 non-null   int64
 55  calendar_last_scraped                         9596 non-null   object
 56  number_of_reviews                             9596 non-null   int64
 57  number_of_reviews_ltm                         9596 non-null   int64
 58  number_of_reviews_l30d                        9596 non-null   int64
 59  first_review                                  7801 non-null   object
 60  last_review                                   7801 non-null   object
 61  review_scores_rating                          7801 non-null   float64
 62  review_scores_accuracy                        7796 non-null   float64
 63  review_scores_cleanliness                     7796 non-null   float64
 64  review_scores_checkin                         7796 non-null   float64
 65  review_scores_communication                   7796 non-null   float64
 66  review_scores_location                        7796 non-null   float64
 67  review_scores_value                           7796 non-null   float64
 68  license                                       2104 non-null   object
 69  instant_bookable                              9596 non-null   object
 70  calculated_host_listings_count                9596 non-null   int64
 71  calculated_host_listings_count_entire_homes   9596 non-null   int64
 72  calculated_host_listings_count_private_rooms  9596 non-null   int64
 73  calculated_host_listings_count_shared_rooms   9596 non-null   int64
 74  reviews_per_month                             7801 non-null   float64
dtypes: float64(16), int64(23), object(36)
memory usage: 5.5+ MB

In [14]:
reviews = pd.read_csv("DatosValencia/reviews.csv")

In [15]:
reviews.head()

   listing_id        date
0       48154  2010-10-12
1       48154  2010-11-28
2       48154  2011-03-01
3       48154  2011-03-08
4       48154  2011-04-05

In [16]:
reviews.info()

# It tells us the date on which each review was posted for each property, not very useful

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409547 entries, 0 to 409546
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  409547 non-null  int64
 1   date        409547 non-null  object
dtypes: int64(1), object(1)
memory usage: 6.2+ MB

In [17]:
reviews_det = pd.read_csv("DatosValencia/reviews.csv.gz")

In [18]:
reviews_det.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,48154,117554,2010-10-12,180238,Martha,Toni's place was perfect in so many ways. It ...
1,48154,145645,2010-11-28,204240,Mark,Awesome stay!! We'd recommend Toni's apartment...
2,48154,190572,2011-03-01,258565,Domenico,really nice house in a wonderfull position! yo...
3,48154,195081,2011-03-08,213496,Romina & Martín,"Apartamento muy agradable, al igual que su pro..."
4,48154,218435,2011-04-05,340330,Jenna,"Was a great apartment, easy access to the site..."

In [19]:
reviews_det.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409547 entries, 0 to 409546
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     409547 non-null  int64
 1   id             409547 non-null  int64
 2   date           409547 non-null  object
 3   reviewer_id    409547 non-null  int64
 4   reviewer_name  409547 non-null  object
 5   comments       409532 non-null  object
dtypes: int64(3), object(3)
memory usage: 18.7+ MB

In [20]:
# in our case we are not going to use these reviews.
# it could be interesting for other projects that use NLP or similar

In [22]:
calendar = pd.read_csv("DatosValencia/calendar.csv.gz")

In [23]:
calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,48154,2024-06-22,f,$75.00,NaN,3.0,25.0
1,48154,2024-06-23,f,$75.00,NaN,3.0,25.0
2,48154,2024-06-24,f,$75.00,NaN,5.0,22.0
3,48154,2024-06-25,f,$75.00,NaN,5.0,22.0
4,48154,2024-06-26,f,$75.00,NaN,5.0,22.0

In [24]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3502526 entries, 0 to 3502525
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  float64
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 187.1+ MB

In [25]:
calendar.date.min()

'2024-06-22'

In [26]:
# It doesn't look like we're going to use this information, it's basically the availability of each one

In [28]:
pd.read_csv("DatosValencia/neighbourhoods.csv")

   neighbourhood_group   neighbourhood
0              ALGIROS    CIUTAT JARDI
1              ALGIROS     LA CARRASCA
2              ALGIROS       L'AMISTAT
3              ALGIROS   LA VEGA BAIXA
4              ALGIROS  L'ILLA PERDUDA
..                 ...             ...
83     QUATRE CARRERES     MONT-OLIVET
84     QUATRE CARRERES      NA ROVELLA
85            RASCANYA     ELS ORRIOLS
86            RASCANYA    SANT LLORENS
87            RASCANYA       TORREFIEL

[88 rows x 2 columns]

In [31]:
pd.read_json("DatosValencia/neighbourhoods.geojson")

                 type                                           features
0   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
1   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
2   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
3   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
4   FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
..                ...                                                ...
83  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
84  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
85  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
86  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
87  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...

[88 rows x 2 columns]

In [ ]:
# we won't use this one either

In [32]:
# in the end we will only use listings and detailed listings--

In [35]:
import sqlalchemy as sa

con = sa.create_engine("sqlite:///DatosValencia/airbnbValencia.db")

In [36]:
# don't create it yet until you do an operation on it

In [38]:
listings.to_sql("listings", con = con, if_exists= "replace")

9596

In [39]:
listings_det.to_sql("listings_det", con = con, if_exists = "replace")

9596